bentoml==1.0.10
joblib==1.2.0
pip-chill==1.0.1
tqdm==4.64.1
wincertstore==0.2
torchsummary==1.5.1
matplotlib==3.10.3
opencv-python==4.12.0.88
fastapi==0.101.1
uvicorn==0.23.1
python-multipart==0.0.6
torch==2.5.0
torchvision==0.24.0
torchaudio==2.9.0

